/*====================================================================================*/
/*======================= YOTO Soluciones & Servicios ================================*/
/*====================================================================================*/
/*====================================================================================*/
img{
	 max-width: 100%;
}
.gallery {
	background-color: #FFFFFF;
	padding: 10px 0;
}	 
.gallery img{
	background-color: #FFFFFF;
	padding: 1px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	/*cursor: pointer;*/
	border-radius:20px;
}
/*
.card {
	 width: 100%;
 }
*/
.business {
	 width: 100%;
}
.footer {
	background-color: #bc1024
}
/*====================================================================================*/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*====================================================================================*/
body{
    padding-top: 90px;
}
header{
	padding-top: 10px;
}
@media (min-width: 575px) {
	#logoYoto {
		height:45px;
	}
}
@media (max-width: 574px) {
	#logoYoto {
		height:30px;
	}
}
@media (max-width: 280px) {
	body {
		width:280px;
		margin:0 auto;
	}
}
/*====================================================================================*/
#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-family: Arial;
  font-size: 10px;
  border: none;
  padding: 5px;
  border-radius: 2px;
}
/*====================================================================================*/
.Center { 
	text-align:center;
	width: 100%;
	height: auto;
}
.Space0 { 
	padding:10px;
}
.Space1 { 
	padding:20px;
}
.Space2 { 
	padding:40px;
}
.Space3 { 
	padding:60px;
}
/*====================================================================================*/
/*====================================================================================*/
/*====================================================================================*/
/*====================================================================================*/
/*====================================================================================*/
