* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url('../multimedia/img/bg1.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Cambiar de fila a columna para apilar logo y formulario */
    justify-content: center;
    align-items: center;
    transition: background-image 1s ease-in-out; /* Para hacer una transición suave */
}

.logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.logo-img {
    max-width: 180px; /* Ajusta el tamaño del logo según necesites */
    height: auto;
}

.login-container {
    background-color: rgba(0, 43, 122, 0.8); /* Color azul con opacidad */
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 90%; /* Cambia a porcentaje */
    max-width: 380px; /* Añade un máximo para que no se expanda demasiado en pantallas grandes */
    margin: auto; /* Centra el contenedor horizontalmente */
    transform: translateY(-10px);
}

.logo-container:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.login-form {
    text-align: center;
}

.logo {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.input-group {
    margin-bottom: 20px;
    margin-top: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #bc1024;
    opacity: 0.8;
    text-align: center;
    color: #ffffff;
}

.input-group input::placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

.password-container {
    display: inline-flex; /* Flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-bottom: 20px; /* Margen inferior similar a otros inputs */
}

.password-container input {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px;
    border-radius: 5px 0 0 5px; /* Bordes redondeados a la izquierda */
    border: none; /* Sin borde adicional */
    font-size: 16px; /* Mantén la consistencia del tamaño de la fuente */
    background-color: #bc1024;
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

#togglePassword {
    background-color: #bc1024; /* Fondo del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    color: white; /* Color del icono */
    padding: 10px; /* Espaciado para que el icono esté centrado */
    border-radius: 0 5px 5px 0; /* Bordes redondeados a la derecha */
    display: flex; /* Para centrar el icono */
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 41px;
}

.password-container button:hover {
    background-color: #ff0015; /* Efecto al pasar el mouse */
}

.remember-me {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-content: center;
}

.remember-me input {
    margin-right: 10px;
    transform: scale(1);
}

.remember-me input[type="checkbox"] {
    appearance: none; /* Quita el estilo predeterminado del checkbox */
    width: 20px;
    height: 20px;
    background-color: #bc1024; /* Fondo transparente cuando no esté seleccionado */
    border: 2px solid #bc1024; /* Borde del checkbox */
    border-radius: 3px; /* Esquina ligeramente redondeada */
    cursor: pointer;
}

.remember-me input[type="checkbox"]:checked {
    background-color: #bc1024; /* Cambiar el color del fondo al marcar */
    border-color: #bc1024; /* Cambiar el borde al color de fondo */
}

.remember-me input[type="checkbox"]:checked:before {
    content: '✔'; /* Símbolo del check */
    color: white; /* Color del check */
    font-size: 16px; /* Tamaño del check */
    position: absolute;
    top: -2px;
    left: 3px;
}

.remember-me label {
    color: #ffffff;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #b61826;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #cc0012;
}

.forgot-password {
    display: block;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Mensajes de error */
ul {
    list-style-type: none;
    padding: 0;
    color: red; /* Color para los mensajes de error */
}