<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOTO - Iniciar Sesión</title>
    <!-- Incluyendo CSS y JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ylogin.css') }}">
    <link href="{{ url_for('static', filename='FontAwesome/6.4.0/css/all.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icono.ico') }}">
</head>
<body data-img1="{{ url_for('static', filename='multimedia/img/bg1.webp') }}"
      data-img2="{{ url_for('static', filename='multimedia/img/bg2.webp') }}"
      data-img3="{{ url_for('static', filename='multimedia/img/bg3.webp') }}">
    <div class="logo-container">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='multimedia/img/LOGOyoto.png') }}" alt="YOTO Logo" class="logo-img"></a>
    </div>
    
    <div class="login-container">
        <div class="login-form">
            <h1 class="logo">REGISTRO</h1>
            <form method="POST">
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="USUARIO" required>
                </div>
                <div class="input-group">
                    <div class="password-container">
                        <input type="password" id="password" name="password" placeholder="CONTRASEÑA" required>
                        <button type="button" id="togglePassword" aria-label="Mostrar/Ocultar contraseña">
                            <i class="fa-solid fa-eye-slash"></i>
                            <i class="fa-solid fa-eye" style="display: none;"></i>
                        </button>
                    </div>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">RECORDAR</label>
                </div>
                <button type="submit" class="login-button">ACCEDER</button>
    
                <!-- Mostrar el mensaje de error si existe -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                
                <a href="" class="forgot-password">¿OLVIDÓ SU CONTRASEÑA?</a>
            </form>
        </div>
    </div>

    <!-- Incluyendo JS -->
    <script src="{{ url_for('static', filename='js/ylogin.js') }}"></script>

</body>
</html>


